<div class="content">
    <h4>{{ 'pages.users.title' | translate }}</h4>
    <div class="text-right">
        <button class="btn btn-success" routerLink="add">+ {{ 'pages.users.buttons.add' | translate }}</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{ 'pages.users.table.id' | translate }}</th>
                <th scope="col">{{ 'pages.users.table.avatar' | translate }}</th>
                <th scope="col">{{ 'pages.users.table.first_name' | translate }}</th>
                <th scope="col">{{ 'pages.users.table.last_name' | translate }}</th>
                <th scope="col">{{ 'pages.users.table.email' | translate }}</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle text-center" *ngIf="users.length === 0 && !loading">
                <td colspan="6">{{ 'pages.users.table.empty_state' | translate }}</td>
            </tr>
            <tr class="align-middle text-center" *ngIf="loading">
                <td colspan="6"><img class="gif-loading" src="assets/loading.gif"/></td>
            </tr>
            <tr class="align-middle" *ngFor="let user of users">
                <th scope="row">{{ user.id }}</th>
                <td><img class="users-list-avatar" [src]="user.avatar" alt="No Img" /></td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td><a [href]="'mailto:'+user.email">{{ user.email }}</a></td>
                <td class="table_col dropdowm-col" ngbDropdown placement="bottom-right" container="body"
                    (click)="$event.stopPropagation()">
                    <button id="button-basic" ngbDropdownToggle type="button" placement="bottom right"
                        class="btn btn-custom dropdown-toggle" aria-controls="dropdown-basic">
                        <span class="caret"> {{ 'pages.users.table.actions'|translate }} </span>
                    </button>
                    <ul id="dropdown-basic" ngbDropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem" class="custom-menuitem">
                            <a class="dropdown-item grey-menuitem" href="javascript:;">
                                <i class="bi bi-pencil-fill"></i> {{ 'pages.users.buttons.update'|translate }}
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item red-menuitem" href="javascript:;" (click)="deleteUser(user.id)">
                                <i class="bi bi-trash"></i> {{ 'pages.users.buttons.delete'|translate }}
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" (click)="getUsers(activePage - 1)" [ngClass]="{ 'disabled': (activePage === 1) }">
                <a class="page-link" href="javascript:;" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" (click)="getUsers(i + 1)" *ngFor="let item of [].constructor(totalPages); let i = index" [ngClass]="{ 'active': i+1 === activePage }"><a class="page-link" href="javascript:;">{{ i+1 }}</a></li>
            <li class="page-item" (click)="getUsers(activePage + 1)" [ngClass]="{ 'disabled': (activePage === totalPages) }">
                <a class="page-link" href="javascript:;" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>