table {
    tbody {
        .users-list-avatar {
            border: 1px solid #bebebe;
            border-radius: 50%;
            height: 35px;
            width: 35px;
        }
        .gif-loading {
            height: 35px;
        }
    }
}