<form (ngSubmit)="addUser()">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" [(ngModel)]="firstname" required>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" [(ngModel)]="lastname" required>
    </div>
    <div class="form-group">
      <label for="emailaddress">Email Address</label>
      <input type="email" class="form-control" id="emailaddress" [(ngModel)]="emailadress" required>
    </div>
    <button type="submit" class="btn btn-primary">Add User</button>
  </form>
  